@import url(../style/style.css);
@import url(../style/burges.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    font-family: "Open Sans", serif;
}

main {
    background-color:  #f8a6f4;
}

.catalog-text {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #6d0077;
}

.catalog-text h2 {
    font-size: 32px;
    font-weight: 500;
}

.catalog-text p {
    font-size: 16px;
    padding: 10px 0;
    font-weight: 700;
}

.catalog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-content {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 30px;
}

.catalog-content:hover {
    box-shadow:  1px 1px 8px #ff4fd9;
}

.catalog-content img {
    width: 100%;
    height: 100%;
}

.catalog-content p {
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    color: white;
    background-color: rgba(180, 0, 120, 0.5);
}
@media (max-width: 992px) and (min-width: 768px) {
    .catalog-container {
        align-items: center;
        justify-content: space-evenly;
        margin: auto;
    }
}
@media (max-width: 576px) {
    .catalog-container {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
}



